.bottle {
  border: 1px solid grey;
  border-radius: 3px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 16px;
  margin-bottom: 12px;
  position: relative;
  height: 48px;

  &.danger {
    border-color: #d04437;
  }

  .details {
    width: 100%;
    text-align: left;
    padding-right: 48px;

    h4, p {
      margin: 0;
    }

    p {
      font-size: 12px;
    }
  }

  img {
    position: absolute;
    right: 8px;
  }
}
