$headerHeight: 64px;
$alertSize: 48px;

.container {
  width: 296px;
  height: 354px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  overflow: hidden;
  margin: 16px;
  padding-top: $headerHeight;
  position: relative;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 296px;
    height: $headerHeight;
    padding: 0 16px;
    border-bottom: 1px solid #d9d9d9;

    h4 {
      margin: 0;
      line-height: 64px;
    }
  }

  .content {
    position: relative;
    padding: 8px 16px 16px;

    .alert {
      position: absolute;
      top: 16px;
      right: 16px;
      border: 3px solid #00d067;
      border-radius: 50%;
      width: $alertSize;
      height: $alertSize;
      text-align: center;

      span {
        color: #00d067;
        font-size: 14px;
        font-weight: 700;
        line-height: 42px;
      }

      &.danger {
        border: 3px solid #d04437;
        animation: blink-animation 2s steps(10, start) infinite;
        -webkit-animation: blink-animation 2s steps(10, start) infinite;

        span {
          color: #d04437;
        }
      }
    }
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
